node_modules/
test-results/
playwright-report/
allure-results/
allure-report/
test-output/
/playwright/.cache/
target
.idea
.vscode
.factorypath
*.log
*.swp
*.sublime-project
*.sublime-workspace
*.classpath
*.project
*.prefs
*.iml
*.repl
logs
.tmp
node_tmp
tmp
.DS_Store
.build
.todo
